
@{
    ViewBag.Title = "Pozdrav";
    Layout = "~/Views/Shared/_MojLayout.cshtml";
}

@*@section header
{
    <div id="header", required:false>
        Ustvarjamo "lepo" stran
    </div>
}*@
@section list
{
    <ul>
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
        <li>Tempor</li>
        <li>Bla Bla</li>
    </ul>    
}
<h1>Multisekcijska vsebina</h1>
<p>
    Nullam varius mollis consequat. Sed mollis ipsum vitae viverra elementum. Nulla facilisi. Etiam facilisis lectus eget commodo accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla fringilla erat leo, in bibendum arcu gravida eget. Nullam ac augue ligula. Morbi sollicitudin ex id ligula lacinia condimentum sit amet sit amet risus. Proin quis tincidunt tortor. Cras orci ex, varius in ullamcorper id, efficitur et elit. Etiam ultrices, lacus at elementum eleifend, dui nibh rhoncus sapien, quis consectetur nunc ex eu nisi. Donec nec eleifend justo.
</p>